<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- Ao implantar o projeto de biblioteca de serviço, o conteúdo do arquivo de configuração deve ser adicionado ao arquivo de app.config 
 do host. O System.Configuration não oferece suporte a arquivos de configuração para bibliotecas. -->
  <system.serviceModel>
    <services>
      <service name="Passagens.ClienteService">
        <endpoint address="cliente" behaviorConfiguration="web" binding="webHttpBinding"
          bindingConfiguration="" contract="Passagens.IClienteService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
